<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />


    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <application
        android:name=".utils.MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Nativevitalio"
        android:networkSecurityConfig="@xml/network_security_config"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">


        <meta-data
            android:name="android.app.shortcuts"
            android:resource="@xml/shortcuts" />
        <activity
            android:name=".UI.otp"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" />
        <activity
            android:name=".UI.Home"
            android:exported="false" />
        <activity
            android:name=".UI.Login"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:exported="true" />
        <activity
            android:name=".UI.EditProfile"
            android:exported="false" />
        <!-- android:name=".UI.MovieListActivity" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".UI.MovieListActivity"
            android:exported="false" />
        <activity
            android:name=".UI.Splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>



        <activity android:name=".Omron.Activities.SupportDeviceListActivity" android:exported="false" android:label="@string/title_activity_support_device_list"  android:screenOrientation="portrait"/>
        <activity android:name=".Omron.Activities.WheezeMainActivity" android:exported="false" android:screenOrientation="fullSensor">
            <meta-data android:name="android.app.lib_name" android:value=""/>
        </activity>
        <activity android:name=".Omron.Activities.WeightScaleDataListingActivity" android:exported="false" android:screenOrientation="portrait">
            <meta-data android:name="android.app.lib_name" android:value=""/>
        </activity>
        <activity android:name=".Omron.Activities.WheezeDataListingActivity" android:exported="false" android:screenOrientation="fullSensor">
            <meta-data android:name="android.app.lib_name" android:value=""/>
        </activity>
        <activity android:name=".Omron.Activities.UserPersonalSettingsActivity" android:screenOrientation="fullSensor"/>
        <activity android:name=".Omron.Activities.BloodPressureMainActivity" android:screenOrientation="portrait"/>
        <activity android:name=".Omron.Activities.OmronConnectedDeviceList" android:screenOrientation="portrait" />
        <activity android:name=".Omron.Activities.BloodPressureDataListingActivity" android:screenOrientation="portrait"/>
        <activity android:name=".Omron.Activities.BaseActivity"/>
        <activity android:name=".Omron.Activities.WeightScaleMainActivity" android:screenOrientation="portrait"/>
        <activity android:name=".Omron.Activities.TemperatureRecordingActivity" android:screenOrientation="portrait"/>
        <activity android:name=".Omron.Activities.PulseOxymeterMainActivity" android:screenOrientation="portrait"/>
        <activity android:name=".Omron.Activities.PulseOxymeterDataListingActivity" android:screenOrientation="fullSensor"/>
        <activity android:name=".Omron.Activities.ActivityMainActivity" android:screenOrientation="portrait"/>
        <activity android:name=".Omron.Activities.ScanActivity" android:screenOrientation="portrait" />
        <provider android:name=".Omron.Database.OmronDBProvider" android:authorities="com.critetiontech.ctvitalio.Database.OmronDBProvider" android:exported="false"/>
        <activity android:name=".Omron.Activities.DataListingActivity" android:label="@string/title_activity_data_listing" android:screenOrientation="fullSensor" />
        <activity android:name=".Omron.Activities.ActivityDataActivity" android:label="@string/title_activity_data_listing" android:screenOrientation="portrait" />
        <activity android:name=".Omron.Activities.ReminderActivity" android:label="@string/title_activity_reminder" android:screenOrientation="portrait" />
        <activity android:name=".Omron.Activities.DataDeviceListingActivity" android:screenOrientation="portrait"/>
        <activity android:name=".Omron.Activities.ActivityListingActivity" android:label="@string/title_activity_listing" android:screenOrientation="portrait" />
        <receiver android:name=".Omron.utility.NotificationPublisher" android:exported="false"/>
        <service
            android:name=".utils.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>



        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name="com.canhub.cropper.CropImageActivity"
            android:theme="@style/Theme.MaterialComponents.DayNight.DarkActionBar" />
    </application>

</manifest>